.references
    width: 100%
    background: black
    height: 60vh
    float: left
    
    .container5
        width: 75%
        margin: 0 auto
        text-align: justify
    
    .head
        color: white
        
        